$colorTextInput: #A5A2A2;
$headerBackgroundColor: #78c8f9;
$backGroundPanelInput: #f3f3f3;
$white: #fff;

@mixin icon($url, $width, $height) {
    display: inline-block;
    width: $width;
    height: $height;
    background: url($url) center/contain no-repeat;
}

@mixin modal() {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.471);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 3rem;
}

.hidden {
    display: none !important;
}