@import "./global.scss";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 94px;
    color: $white;
    background-color: $headerBackgroundColor;

    .headerTitle {
        display: flex;
        align-items: center;
        cursor: pointer;

        &__logo {
            display: inline-block;
            width: 44px;
            height: 44px;
            margin-right: 8px;
            background: url("../assets/icons/e7cde7fd0b8b992d7b74d2580a70b624.png") center/contain no-repeat;

        }
    }

    .headerInputSearch {
        display: flex;
        align-items: center;

        &__containerInput {
            display: flex;
            align-items: center;
            width: 246px;
            height: 46px;
            padding: 13px;
            border-radius: 8px;
            background-color: $backGroundPanelInput;

            .containerInput__icon {
                @include icon("../assets/icons/searchIconsvg.svg", 21px, 21px)
            }

            .containerInput__input {
                padding: 4px;
                font-size: 1.6rem;
                color: $colorTextInput;
                border: none;
                background-color: $backGroundPanelInput;
            }

            .containerInput__input:focus {
                outline: none;
            }

        }

        &__btnSearch {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 54px;
            height: 46px;
            margin-left: 12px;
            cursor: pointer;
            border: none;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 8px;

            .btnSearch__icon {
                @include icon("../assets/icons/searchIconsvg.svg", 21px, 21px)
            }
        }
    }
}

main {
    padding: 30px 94px;

    .pokemonsContainer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        &__pokemonItem {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 347px;
            height: 354px;
            margin: 20px 20px 0 0;

            .pokemonItem__image {
                width: 100%;
                height: 304px;
                cursor: pointer;
                border-radius: 8px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                background-color: $backGroundPanelInput;
            }
        }

    }

    .pokemonDetails {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__pokemonImages {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            margin-top: 26px;

            .pokemonImages__image {
                width: 347px;
                height: 304px;
                border-radius: 8px;
                background-color: $backGroundPanelInput;
            }
        }

        &__detailsContainer {
            display: flex;
            justify-content: space-between;
            width: 80%;
            height: 308px;
            margin-top: 40px;
            padding: 20px 80px;
            border-radius: 8px;
            background-color: $backGroundPanelInput;

            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 50%;
                padding: 0 20px;
            }

            ul li:first-child {
                list-style: none;
            }

            ul li:nth-child(2),
            ul li:nth-child(2)~li {
                p:first-child {
                    margin-top: 8px;
                    font-size: 1.8rem;
                }

                p:last-child {
                    font-size: 1.2rem;
                    margin-top: 8px;

                }
            }

            // .detailsContainer__abilites {
            //     .abilities__ablity {
            //         .ablity__name {
            //             margin-top: 8px;
            //             font-size: 1.8rem;
            //         }

            //         .ablity__description {
            //             font-size: 1.2rem;
            //         }

            //     }
            // }
        }
    }
}